Crew Members:
<ul>
 <%= fields_for :crew_members do |cm| %>
<li>
      <%= cm.label :name %>
      <%= cm.text_field :name %>
      <%= cm.label :division %>
      <%= cm.select(:division, ["Command", "Engineering", "Science"]) %>
    </li>
 <% end %>
</ul>
